.restaurants
    display: grid
    grid-template-rows: 50px 211px 120px 383px 253px 50px 211px
    grid-template-columns: minmax(32px, 1fr) 609px 40px 172px 149px 318px 70px 211px 289px minmax(32px, 1fr)

    &__title
        grid-area: 2 / 2 / span 1 / span 3
        border-left-style: solid
        border-left-width: 25px
        border-left-color: #FE043C 
        z-index: 2
        font-size: 48px
        line-height: 62px
        color: #2E266F
        padding-left: 30px
        padding-top: 10px
        font-weight: 500

    &__text
        grid-area: 2 / 6 / span 1 / span 3
        z-index: 2
        font-size: 14px
        line-height: 24px
        font-weight: 400
        color: #707070
        padding-top: 63px

    &__photo1
        grid-area: 4 / 1 / span 2 / span 2
        z-index: 3
        width: 639px
        height: 636px

    &-info-left
        grid-area: 5 / 1 / span 1 / span 2
        background-color: rgba(254, 4, 60, 0.7)
        border-radius: 0px 0px 20px 20px
        z-index: 3
        padding: 40px 0 82px 60px
        width: 639px
        height: 253px
        position: absolute
        margin-top: 383px
        
        &__title
            font-size: 24px
            font-weight: 700
            color: #FFFFFF
            margin: 0 0 15px 0

        &__text
            font-size: 14px
            line-height: 24px
            font-weight: 400
            color: #FFFFFF
            margin-bottom: 20px
            max-width: 372px

    &-inner
        display: flex

        &__item
            width: 20px
            height: 25px

        &__address
            font-size: 14px
            font-weight: 400
            color: #FFFFFF
            padding: 5px 0 5px 10px

    &-btn
        text-align: right
        margin-top: -14px

    &__btn
        background: #FFFFFF
        border-radius: 100px 0px 0px 100px
        width: 208px
        height: 58px
        color: #FE043C
        font-size: 14px
        font-weight: 400
        border: none
        cursor: pointer

    &__photo2
        grid-area: 4 / 4 / span 2 / span 3
        z-index: 3
        width: 639px
        height: 636px

    &-info-right
        grid-area: 5 / 4 / span 1 / span 3
        background-color: rgba(254, 4, 60, 0.7)
        border-radius: 0px 0px 20px 20px
        z-index: 3
        padding: 40px 0 82px 60px
        width: 639px
        height: 253px
        position: absolute
        margin-top: 383px
        
        &__title
            font-size: 24px
            font-weight: 700
            color: #FFFFFF
            margin: 0 0 15px 0

        &__text
            font-size: 14px
            line-height: 24px
            font-weight: 400
            color: #FFFFFF
            margin-bottom: 20px
            max-width: 372px

    &-inner
        display: flex

        &__item
            width: 20px
            height: 25px

        &__address
            font-size: 14px
            font-weight: 400
            color: #FFFFFF
            padding: 5px 0 5px 10px

    &-btn
        text-align: right
        margin-top: -14px

    &__btn
        background: #FFFFFF
        border-radius: 100px 0px 0px 100px
        width: 208px
        height: 58px
        color: #FE043C
        font-size: 14px
        font-weight: 400
        border: none
        cursor: pointer

    &-arrow
        grid-area: 4 / 8 / span 1 / span 1
        z-index: 2

        &__inner
            display: flex
            justify-content: center
            margin-bottom: 20px
            margin-top: 288px

        &__item
            margin-left: -25px

        &__text
            font-size: 14px
            font-weight: 400
            color: #FE043C
            margin-left: 114px

    &-item1
        grid-area: 3 / 1 / span 1 / span 2
        z-index: 2
        margin-left: 20px
        margin-top: 50px

    &-item2 
        grid-area: 5 / 6 / span 1 / span 1
        z-index: 2
        margin-left: 40px
        margin-top: 235px

    &-item3 
        grid-area: 5 / 6 / span 2 / span 1
        z-index: 2
        transform: rotate(90deg)
        margin-left: 173px
        margin-top: 27px

    &-background
        grid-area: 1 / 1 / span 7 / span 10
        z-index: 1
        background-color: #FFF5EC

    &-container-left
        position: relative

    &-container-right
        position: relative

.slider
    display: grid
    grid-area: 4 / 1 / span 2 / span 6
    z-index: 3
    position: relative

@media ( max-width: 1200px )
    .restaurants
        display: grid
        grid-template-rows: 50px 221px 115px 298px 195px 70px 61px
        grid-template-columns: minmax(32px, 1fr) 462px 17px 210px 76px 208px 225px minmax(32px, 1fr)

        &__title
            grid-area: 2 / 2 / span 1 / span 3
            border-left-style: solid
            border-left-width: 25px
            border-left-color: #FE043C 
            z-index: 2
            font-size: 48px
            line-height: 62px
            color: #2E266F
            padding-left: 30px
            padding-top: 10px
            max-width: 663px

        &__text
            grid-area: 2 / 6 / span 1 / span 3
            z-index: 2
            font-size: 14px
            line-height: 24px
            font-weight: 400
            color: #707070
            padding-top: 63px
            max-width: 362px

        &__photo1
            grid-area: 4 / 1 / span 2 / span 2
            z-index: 3
            width: 494px
            height: 493px

        &-info-left
            grid-area: 5 / 1 / span 1 / span 2
            background-color: rgba(254, 4, 60, 0.7)
            border-radius: 0px 0px 20px 20px
            z-index: 3
            padding: 21px 0 28px 31px
            width: 494px
            height: 195px
        
            &__title
                font-size: 24px
                font-weight: 700
                color: #FFFFFF
                margin: 0 0 15px 0

            &__text
                font-size: 14px
                line-height: 24px
                font-weight: 400
                color: #FFFFFF
                margin-bottom: 20px
                max-width: 372px

        &-inner
            display: flex

            &__item
                width: 20px
                height: 25px

            &__address
                font-size: 14px
                font-weight: 400
                color: #FFFFFF
                padding: 5px 0 5px 10px

        &-btn
            text-align: right
            margin-top: -14px

        &__btn
            background: #FFFFFF
            border-radius: 100px 0px 0px 100px
            width: 208px
            height: 58px
            color: #FE043C
            font-size: 14px
            font-weight: 400
            border: none
            cursor: pointer

        &__photo2
            grid-area: 4 / 4 / span 2 / span 3
            z-index: 3
            width: 494px
            height: 493px

        &-info-right
            grid-area: 5 / 4 / span 1 / span 3
            background-color: rgba(254, 4, 60, 0.7)
            border-radius: 0px 0px 20px 20px
            z-index: 3
            padding: 21px 0 28px 31px
            width: 494px
            height: 195px
        
            &__title
                font-size: 24px
                font-weight: 700
                color: #FFFFFF
                margin: 0 0 15px 0

            &__text
                font-size: 14px
                line-height: 24px
                font-weight: 400
                color: #FFFFFF
                margin-bottom: 20px
                max-width: 372px

        &-inner
            display: flex

            &__item
                width: 20px
                height: 25px

            &__address
                font-size: 14px
                font-weight: 400
                color: #FFFFFF
                padding: 5px 0 5px 10px

        &-btn
            text-align: right
            margin-top: -14px

        &__btn
            background: #FFFFFF
            border-radius: 100px 0px 0px 100px
            width: 160px
            height: 45px
            color: #FE043C
            font-size: 14px
            font-weight: 400
            border: none
            cursor: pointer
            margin-top: -15px

        &-arrow
            grid-area: 4 / 7 / span 1 / span 1
            z-index: 2

            &__inner
                display: flex
                justify-content: center
                margin-bottom: 20px
                margin-top: 288px

            &__item
                margin-left: -25px

            &__text
                font-size: 14px
                font-weight: 400
                color: #FE043C
                margin-left: 114px

        &-item1
            grid-area: 3 / 1 / span 1 / span 2
            z-index: 2
            margin-left: 20px
            margin-top: 50px

        &-item2 
            grid-area: 5 / 5 / span 1 / span 1
            z-index: 2
            margin-left: 38px
            margin-top: 222px

        &-item3 
            grid-area: 5 / 5 / span 1 / span 1
            z-index: 2
            transform: rotate(90deg)
            margin-left: 171px
            margin-top: 14px

        &-background
            grid-area: 1 / 1 / span 7 / span 8
            z-index: 1
            background-color: #FFF5EC

@media ( max-width: 768px )
    .restaurants
        display: grid
        grid-template-rows: 60px 167px 142px 47px 298px 195px 30px 298px 195px 50px 76px 33px
        grid-template-columns: minmax(32px, 1fr) 545px minmax(32px, 1fr)

        &__title
            grid-area: 2 / 2 / span 1 / span 3
            border-left-style: solid
            border-left-width: 25px
            border-left-color: #FE043C 
            z-index: 2
            font-size: 36px
            line-height: 48px
            color: #2E266F
            padding-left: 30px
            padding-top: 10px
            max-width: 663px

        &__text
            grid-area: 3 / 2 / span 1 / span 3
            z-index: 2
            font-size: 14px
            line-height: 24px
            font-weight: 400
            color: #707070
            padding-top: 0
            margin-left: 58px
            max-width: 471px

        &__photo1
            grid-area: 5 / 2 / span 1 / span 1
            z-index: 3
            width: 494px
            height: 493px
            margin-left: 27px

        &-info-left
            grid-area: 6 / 2 / span 1 / span 2
            background-color: rgba(254, 4, 60, 0.7)
            border-radius: 0px 0px 20px 20px
            z-index: 3
            padding: 21px 0 28px 31px
            width: 494px
            height: 195px
            margin-left: 27px
        
            &__title
                font-size: 24px
                font-weight: 700
                color: #FFFFFF
                margin: 0 0 15px 0

            &__text
                font-size: 14px
                line-height: 24px
                font-weight: 400
                color: #FFFFFF
                margin-bottom: 20px
                max-width: 372px

        &-inner
            display: flex

            &__item
                width: 20px
                height: 25px

            &__address
                font-size: 14px
                font-weight: 400
                color: #FFFFFF
                padding: 5px 0 5px 10px

        &-btn
            text-align: right
            margin-top: -14px

        &__btn
            background: #FFFFFF
            border-radius: 100px 0px 0px 100px
            width: 208px
            height: 58px
            color: #FE043C
            font-size: 16px
            font-weight: 400
            border: none
            cursor: pointer

        &__photo2
            grid-area: 8 / 2 / span 1 / span 1
            z-index: 3
            width: 494px
            height: 493px
            margin-left: 27px

        &-info-right
            grid-area: 9 / 2 / span 1 / span 1
            background-color: rgba(254, 4, 60, 0.7)
            border-radius: 0px 0px 20px 20px
            z-index: 3
            padding: 21px 0 28px 31px
            width: 494px
            height: 195px
            margin-left: 27px
        
            &__title
                font-size: 24px
                font-weight: 700
                color: #FFFFFF
                margin: 0 0 15px 0

            &__text
                font-size: 14px
                line-height: 24px
                font-weight: 400
                color: #FFFFFF
                margin-bottom: 20px
                max-width: 372px

        &-inner
            display: flex

            &__item
                width: 20px
                height: 25px

            &__address
                font-size: 14px
                font-weight: 400
                color: #FFFFFF
                padding: 5px 0 5px 10px

        &-btn
            text-align: right
            margin-top: -14px

        &__btn
            background: #FFFFFF
            border-radius: 100px 0px 0px 100px
            width: 160px
            height: 45px
            color: #FE043C
            font-size: 14px
            font-weight: 400
            border: none
            cursor: pointer
            margin-top: -15px

        &-arrow
            grid-area: 11 / 2 / span 1 / span 1
            z-index: 2
            max-width: 206px
            margin-left: 155px

            &__inner
                display: flex
                justify-content: center
                margin-bottom: 21px
                margin-top: 0

            &__item
                margin-left: -25px

            &__text
                font-size: 14px
                font-weight: 400
                color: #FE043C
                margin-left: 114px

        &-item1
            grid-area: 4 / 2/ span 1 / span 1
            z-index: 2
            margin-left: 4px
            margin-top: 28px

        &-item2 
            grid-area: 10 / 2 / span 1 / span 1
            z-index: 2
            margin-left: 241px
            margin-top: -17px

        &-item3 
            grid-area: 9 / 2 / span 1 / span 1
            z-index: 2
            transform: rotate(90deg)
            margin-left: 374px
            margin-top: -30px

        &-background
            grid-area: 1 / 1 / span 12 / span 7
            z-index: 1
            background-color: #FFF5EC

    .slider
        grid-area: 4 / 1 / span 2 / span 6

    
